[Desktop Entry]
Type=Application
Terminal=true
Name=raboms - Configuración
Categories=AudioVideo;Player;
Icon=/usr/share/icons/raboms/icon.png
Exec=sh /usr/bin/raboms-config

